# Xcode
ZXingTest/.DS_Store
ZXingTest/build/
ZXingTest/*.pbxuser
ZXingTest/!default.pbxuser
ZXingTest/*.mode1v3
ZXingTest/!default.mode1v3
ZXingTest/*.mode2v3
ZXingTest/!default.mode2v3
ZXingTest/*.perspectivev3
ZXingTest!default.perspectivev3
ZXingTest/xcuserdata
ZXingTest/profile
ZXingTest/*.moved-aside
ZXingTest/DerivedData
ZXingTest/.idea/
ZXingTest/*.xcscmblueprint

# CocoaPods
ZXingTest/Pods/
